<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/home.css" type="text/css">
</head>

<body>
    <!-- Navigation bar -->
    <header>
        <div class="container">
            <a href="/home" class="logo">Consumer Support System</a>
            <ul class="nav">
                <li><a href="/complain">complain sendbox</a></li>
                <li><a href="/feedback">give feedback</a></li>
                <li><a href="/dashboard">customer dashboard</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/signin">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>

            <div class="admin-links">
                <ul>
                    <li><a href="/admin/home">Admin Home</a></li>
                </ul>
            </div>

        </div>
    </header>