<%- include("partials/homePage/header"); -%>

    <!-- Main content -->
    <div class="main-content">
        <h1>Welcome to our Consumer Support System</h1>
        <p>We are here to assist you with your concerns and feedback. Please feel free to reach out to us.</p>

    </div>

    <%- include("partials/homePage/footer"); -%>