body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav a:hover {
    color: #f39c12;
}

.btnSignupSignin,
.btnHome {
    background-color: #f39c12;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnSignupSignin:hover,
.btnHome:hover {
    background-color: #e67e22;
}

/* Main content styles */
.main-content {
    padding: 80px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Footer link styles */
.footer-links a {
    text-decoration: none;
    color: #f39c12;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #e67e22;
}

.admin-links {
    float: right;
    /* Align the admin links to the right side */
    margin-right: 20px;
    /* Add some right margin for spacing */
}

.admin-links ul {
    list-style-type: none;
    /* Remove bullet points */
}

.admin-links li {
    display: inline-block;
    /* Display admin links horizontally */
    margin-right: 10px;
    /* Add some right margin between admin links */
}

.admin-links a {
    color: #333;
    /* Set text color for admin links */
    font-weight: bold;
    /* Make admin links bold */
    text-decoration: none;
    /* Remove underlines */
    background-color: #889cf8;
    /* Light background color */
    padding: 5px 10px;
    /* Add padding for better appearance */
    border-radius: 5px;
    /* Rounded corners */
    transition: background-color 0.3s;
    /* Smooth hover effect */
}

.admin-links a:hover {
    background-color: #5356fa;
    /* Darker background color on hover */
    color: #333;
    /* Text color on hover */
}